<div class="row">
	<div class="large-11 columns large-offset-1">
		<h1>Give Us Your Details</h1>
	</div>
</div>

<div class="row"> 
	<div class="large-5">

<h2>Link your music accounts</h2>
	<p><a href="http://www.last.fm/api/auth/?api_key=17b2bea8210223f82d71550ba21fba65&cb=http://localhost:3000/userdetails"  class="small button"> Link your Last.FM</a></p>
	<p><a href=# class="small button"> Link your Spotify</a></p>
	
	
</div>

<div class="large-4 "> 
	<h2> Give us some other info </h2>

      </p>
</div>

</div>

