<style type="text/css">
	h1 {
		color: white;
	}
	.right {
		color: white;
	}
</style>


<nav class="top-bar" data-options="is_hover:false">
	<ul class="title-area">
	    <li class="name">
	    	<h1>
	    		<a href=""></a> Compilation Logo
	    	</h1>
	    </li>
	</ul>
	<section class='top-bar-section new-user'>
	  	<ul class='right'>
		  	<li>
		  		Sign up
		  	</li>
		  	<li class="divider"></li>
		  	<li>
		  		Log in
		  	</li>
	  	</ul>
	</section>
</nav>